.linkActive {
  -webkit-box-shadow: inset 0px -5px 0px 0px #fff;
          box-shadow: inset 0px -5px 0px 0px #fff;
}

.theme-searchbar {
  width: 100% !important;
  max-width: 600px;
  border: 2px solid white;
}

.theme-searchbar input {
  border-radius: 0px;
}

.theme-searchbar input:focus {
  border-color: rgba(104, 212, 239, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 191, 230, 0.6);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 191, 230, 0.6);
  outline: 0 none;
}

.theme-searchbar span {
  border-radius: 0px;
  color: white !important;
  background-color: #227cb1;
}

.carousel {
  border: 5px solid #61c5ff;
}

.acc {
  margin-bottom: 10px;
}

.acc .card {
  border-radius: 0px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.acc .card .card-header {
  padding: 8px 15px;
  border-radius: 0px;
  background-color: #2eabf3;
  border-bottom: none;
  cursor: pointer;
}

.acc .card .card-header a {
  font-size: 14px;
  color: white;
}

.acc .card .card-header:hover {
  background-color: #beffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.acc .card .card-header:hover a {
  color: #2eabf3 !important;
}

.acc .card .card-body {
  background-color: rgba(0, 0, 0, 0);
  padding: 0px 0px;
}

.acc .card .card-body ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.acc .card .card-body ul li {
  padding: 7px 10px;
  padding-left: 20px;
  list-style: none;
  font-size: 12px;
}

.acc .card .card-body ul li a {
  color: black;
}

.acc .card .card-body ul li i {
  display: none;
}

.acc .card .card-body ul li:hover a {
  color: #227cb1;
  text-decoration: none;
}

.acc .card .card-body ul li:hover {
  cursor: pointer;
}

.acc .card .card-body ul li:hover i {
  display: inline-block;
}

.section-title-1 {
  padding-left: 5px;
  font-weight: bolder;
}

.item .card {
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 5px 0px #e7e7e7;
          box-shadow: 0px 2px 5px 0px #e7e7e7;
}

.item .card .image-container {
  height: 200px;
  cursor: pointer;
}

.item .card .image-container img {
  max-height: 200px;
}

.item .card .card-body {
  padding: 10px 10px;
}

.item .card .card-body .card-title {
  font-size: .9rem;
  margin-bottom: 2px;
}

.item .card .card-body p {
  color: #cc4747;
  margin-bottom: 0px;
}

.item .card .card-footer {
  padding: 5px 10px;
  background-color: white;
  border-top: 0px;
}

.item .card:hover {
  margin-top: -2px;
  -webkit-box-shadow: 0px 5px 10px 0px #d8d8d8;
          box-shadow: 0px 5px 10px 0px #d8d8d8;
  -webkit-transition: .3s;
  transition: .3s;
}

.input-group-text {
  background-color: #2eabf3;
  color: white;
}

.auth {
  margin-top: 50px;
}

.auth .card {
  -webkit-box-shadow: 0px 2px 5px 0px #e7e7e7;
          box-shadow: 0px 2px 5px 0px #e7e7e7;
  background-color: #262d37;
}

.auth .card label,
.auth .card small {
  color: white;
}

.auth .card small a {
  color: #2eabf3;
  text-decoration: none;
}

.auth .card small a:hover {
  color: #7edbff;
}

.auth .card .btn-primary {
  background-color: #227cb1;
}

.auth .card .btn-primary:hover {
  background-color: #61c5ff;
}

.auth .card .btn-link {
  color: #2eabf3;
}

.auth .card .btn-link:hover {
  text-decoration: none;
  color: #7edbff;
}

.about .img-fluid {
  width: 100%;
}

.about .about-text {
  line-height: 1.6em;
  margin-top: 2em;
  text-align: justify;
}

.about .form-control {
  border-radius: 0px;
}

.about .btn-theme {
  border-radius: 0px;
}

.register-button {
  background-color: #2eabf3;
  color: white !important;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  border: 2px solid #2eabf3;
  border-radius: 2em;
  -webkit-transition: .5s;
  transition: .5s;
}

.register-button:hover {
  background-color: transparent;
  color: white !important;
  border: 2px solid white;
  -webkit-transition: .5s;
  transition: .5s;
}

.code-section .card {
  -webkit-box-shadow: -1px 4px 30px 3px rgba(76, 81, 104, 0.2);
          box-shadow: -1px 4px 30px 3px rgba(76, 81, 104, 0.2);
}

.code-section .card .card-body {
  margin-top: -1px;
}

.code-section .card .card-body pre {
  font-size: 1.1em;
}

.code-section .nav-item .active {
  background-color: #2d2d2d !important;
  color: white !important;
}

.contact-us-section input,
.contact-us-section textarea {
  color: white;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  border-radius: 0px;
}

.contact-us-section input:focus,
.contact-us-section textarea:focus {
  color: #2eabf3;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #2eabf3;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-us-section ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .7;
  /* Firefox */
}

.contact-us-section ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .7;
  /* Firefox */
}

.contact-us-section ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .7;
  /* Firefox */
}

.navAnimate {
  background-color: #272727 !important;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

