
// Body
$body-bg: #f5f8fa;

// theme color
$theme-color: #2eabf3;
$theme-color-blurr: rgb(231, 243, 255);
$theme-color-light: rgb(173, 197, 237);
$theme-color-lighter: #61c5ff;
$theme-color-hayag: rgb(126, 219, 255);
$theme-color-darker: #227cb1;
$theme-color-darkest: #175070;
$theme-color-shinier: #13c8ff;
$theme-color-opac1: rgba(104, 212, 239, 0.8);
$theme-color-opac2: rgba(62, 191, 230, 0.6);
$theme-color-opac: rgba(5, 5, 5, 0.8);
$theme-color-dark: #272727;

$ghostwhite: #F5F5F5;
$darkgray: #262d37;
$gold: rgb(255, 233, 106);


// Typography
$font-thick: 'Concert One', cursive;
$font-thin: 'Tajawal', sans-serif;
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
