// Variables
@import "variables";
// animate css
@import "~animate.css/animate.css";

body {
	padding-top: 58px;
	background-color: #eeeeee;
}

@media (max-width: 992px) {
	body {
	  padding-top: 56px;
	}
}

@media (min-width: 992px) {
	#sidenav-wrapper {
		display: none;
		transition: .3s;
	}
}

#home-search {
	display: none;
}

.navbar-brand {
	font-size: 1.4em !important;
}

.loading {
	i {
		color: $theme-color !important;
	}	
}

.table {
	font-size: 13px;
}

.info-sanz {
	position: absolute;
    z-index: 99;
    margin: 0 auto;
    width: 100%;
	height: 100%;
	overflow-x: auto;
    background-color: rgba(123,125,126, .7);
	
	.badge {
		font-size: 0.7875rem;
	}

	.searchImg-thumbnail {
		max-height: 9rem;
		overflow: auto;
		cursor: pointer;
	
		.theme-card {
			background-color: white;

			.cover {
				background-color: rgba(255, 255, 255, 0.8);
			}

			.custom-control-label::before {
				background-color: $theme-color-lighter;
			}

			.custom-checkbox {
				position: absolute !important;
				top: 6px;
				left: 15px;
				cursor: pointer !important;

				label {
					font-size: 13px !important;
					color: black;
				}
			}
		}
		
	}

    .info-box-sanz {
    	position: relative;
    	margin: 0 auto;
    	width: 200px;
    	z-index: 100;
    	background-color: white;
		text-align: center;
		padding: 20px 20px;
		border-radius: 5px;
		margin-top: 60px;
    }

}

.card-header {
	.btn-default {
		background-color: $theme-color;
		color: white;
	}
}

.sidebar {
	position: fixed;
	background-color: $theme-color-darker;
	padding-right: 0px;
	height: 100%;

	a {
		color: white;
	}

	.nav {

		.active {
			background-color: #eeeeee;
			color: $theme-color-darker;
		}

		.active i {
			color: $theme-color-darker !important;
		}

		i {
			margin-right: 10px;
		}
	}
}

// .nav-link:hover {
// 	color: $theme-color-shinier;
// 	transition: .5s;
// }

.screen-height {
	// height: 94vh;
	overflow: auto;
}

.sidebar-toggle {
	border: 1px solid $theme-color-blurr;
	border-radius: 2px;
	padding: 5px 8px;
	cursor: pointer;
	transition: .2s;

}

.sidebar-toggle:hover {
	color: $theme-color !important;
	background-color: white;
	transition: .5s;
}

.box-theme {
	border: 1px solid $theme-color;
}

.btn-circle {
	background-color: $theme-color-shinier;
    color: white;
    padding: .8em 1.1em;
	border-radius: 50%;
	transition: .2s;
}

.btn-circle:hover {
	background-color: white;
	color: $theme-color;
	transition: .2s;
}

.nav-link:hover{
	background-color: $theme-color;
	color: white !important;
	transition: .3s;
}

.navbar-nav .dropdown-menu {
	border-radius: 0px;
	padding: 0px 0px;
	left: -70px;

	.badge {
		font-size: 60%;
	}

	small {
		font-size: 90%;
		font-weight: bold;
	}

	.fa {
		margin-top: 7px;
	}

	.dropdown-item {
		padding-left: 20px;
	}

	.notif-item:first-of-type {
		border-top: 1px solid $theme-color-light;
	}

	.notif-item {
		border-bottom: 1px solid $theme-color-light;
	}

	.notif-highligth {
		background-color: $theme-color-blurr;
	}

	.dropdown-item:hover {
		background-color: $theme-color-darker;
		color: white !important;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

#viewMessage {
	.modal-header {
		padding-bottom: 0px;
	}

	.modal-body {
		padding-right: 0px;
		padding-left: 0px;
		padding-top: 0px;
		
		.table {
			th, td {
				padding-left: 1.5em;
			}
		}
	}
}

.password-card:hover {
	box-shadow: 0px 2px 5px 0px #e7e7e7;
}

.info-card {
	border: none;
	box-shadow: 0px 2px 5px 0px #e7e7e7;
	border-radius: 5px;
	margin-top: 5px;
	
	.count {
		font-size: 3em;
		margin-bottom: 0;
	}
}

.docs-list {
	li {
		list-style: none;
		margin-top: 5px;
	}

	li:hover a{
		text-decoration: none;
	}

	li::before {
		content: '#';
		margin-right: 7px;
	}
}

.p-logo {
	height: 30px;
}

pre {
	font-size: 1.1em;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		border-radius: 0px;
		padding: 0.5rem 0;
		
		a:hover {
			background-color: $theme-color;
			color: white !important;
		}
	}
}