@import "watermark.css";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// font awesome for icons
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// animate css
@import "~animate.css/animate.css";
@import "~prismjs/themes/prism-tomorrow.css";
@import '~axios-progress-bar/dist/nprogress.css';

body {
  background-color: $theme-color-dark;
}

.thick {
  font-family: $font-thick !important;
}

.thin {
  font-family: $font-thin !important;
}

.vessel {
  background-image: url('/files/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // height: 650px;
  // background-color: #2d2d2d;
}

.auth-bg {
  background-color: #f9f9f9;
  height: 100vh;

  .navbar-brand {
    color: black !important;
  }

  .login-button {
    color: black !important;
  }

  .register-button:hover {
    background-color: $theme-color-lighter;
    border-color: $theme-color-lighter;
  }
}

.p-logo {
  height: 40px;
}

.navbar-brand {
  font-family: $font-thick;
  font-size: 2em;
}

.btn-theme {
  background-color: $theme-color;
  color: white;
}

.btn-theme:hover {
  background-color: $theme-color-shinier;
  color: white;
}

.p-logo-2 {
  height: 90px;
  margin: 0 auto;
  display: block;
}

.wide-space {
  margin-left: 5px;
  margin-right: 5px;
}

.font-one-half {
  font-size: 1.5em;
}

.font-two-em {
  font-size: 2em;
}

.font-two-half {
  font-size: 2.5em;
}

.font-three-em {
  font-size: 3em;
}

.theme-color {
  color: $theme-color !important;
}

.opac {
  opacity: .5;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-teal {
  background-color: $theme-color;
}

[v-cloak] {
  display: none;
}

.nav-link {
  cursor: pointer;
  font-family: $font-thin;
  font-weight: bolder;
}

th {
	cursor: pointer !important;
}

.loader {
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid $theme-color-darker;
  border-radius: 50%;
  border-top: 16px solid $theme-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-wrapper {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
  margin-left: -15px;
  margin-right: -10px;
	overflow-y: hidden;
	background-color: $theme-color-opac;
	z-index: 1020;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bg-theme {
	background-color: $theme-color;
	color: white;
}

.bg-theme-dark {
  background-color: $theme-color-darkest;
  color: white;
}

.bar {
  height: 10px;
  width: 100%;
  background-color: $theme-color-light;

  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bar-sm {
  width: 60px !important; 
  height: 30px !important;
}

.bar-xs {
  width: 60px !important;
  height: 17px !important;
}

.bar-span {
  height: 19px !important;
  width: 9vw !important;
  margin-left: 25px;
}

@-webkit-keyframes color_change {
  from { background-color: $theme-color-blurr; }
  to { background-color: $theme-color-light; }
}
@-moz-keyframes color_change {
  from { background-color: $theme-color-blurr; }
  to { background-color: $theme-color-light; }
}
@-ms-keyframes color_change {
  from { background-color: $theme-color-blurr; }
  to { background-color: $theme-color-light; }
}
@-o-keyframes color_change {
  from { background-color: $theme-color-blurr; }
  to { background-color: $theme-color-light; }
}
@keyframes color_change {
  from { background-color: $theme-color-blurr; }
  to { background-color: $theme-color-light; }
}

.navbar-toggler {
  transition: .2s;

}

.navbar-toggler:hover {
  background-color: $theme-color-darker;
  color: $theme-color !important;
  transition: .2s;
}


.btn-toggle {
  z-index: 999;
  transition: .5s;
}

.btn-toggle:hover {
  color: $theme-color !important;
  background-color: white;
  transition: .5s;
}

.sidebar-mobile {
  width: 250px;
  height: 100%;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: $theme-color-opac;
}

.full-width {
  width: 100% !important;
}

@media (max-width: 768px) { 

  .full-width {
     margin: 5px 0px;
  }

}

.trow {
  cursor: pointer;

  .d-btn {
    opacity: 0;
  }
}

.trow:hover .d-btn {
  transition: .2s;
  opacity: 1;
}

.frame {
  height: 12rem;

  // img {
  //   height: 100%;
  //   width: auto;
  // }
}

.frame:hover {
  background-color: $theme-color-lighter;
  transition: .2s;
}

.theme-card {
  position: relative;
  overflow: hidden;
  height: 100%;

  img.tall {
    height: auto;
    width: 100%;
  }
  
  img.wide {
    height: 100%;
    width: auto;
  }

  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(33,33,33,.9);
    opacity: 0;
    vertical-align: middle;
    z-index: 99;
    transition: .2s;

    p {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 0px !important;
      padding: 5px 10px;
      color: white;
      font-size: 11px;
    }
  }

  .cover:hover {
    opacity: 1 !important;
    transition: .2s;
  }
}



.notification {
  
  position: fixed;
  top: 8%;
  width: 200px;
  z-index: 9999;
  left: 50%;
  margin-left: -100px;
  box-shadow: 0 4px 18px 0px #848484;
  border-radius: 3px;
  
  p {
    color: white;
    padding: 8px 15px;
    text-align: center;
    margin-bottom: 0;
  }
}

// .theme-card {
//   border: 1px solid $theme-color;

//   img {
//     max-height: 12rem;
//   }
// }

#viewProduct {
	.modal-content {
    border-radius: 0px;
    
    .fix-height {
      height: 25rem;
      position: relative;

      img {
        max-height: 25rem;
      }

      button {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 0px;
        color: black;
      }

      .mr-5 {
        margin-right: 2rem !important;
      }
    }

	}
	
	.modal-header {
		padding-bottom: 0px;
	}

	.modal-body {
    padding: 0px 0px;

    h2 { 
      width:100%; 
      text-align:center; 
      border-bottom: 1px solid #000; 
      line-height:0.1em; 
      margin:10px 0 20px; 
    } 
    h2 span { 
      font-size: 15px;
      background:rgb(255, 255, 255); 
      padding:0 10px; 
    }

    .info-box-sanz {
      margin-top: 14% !important;
    }
  }
  
  .modal-footer {
    padding: 0px 0px;

    .box {
      position: relative;
      overflow: hidden;
      border: 3px solid white;
      height: 80px;
      width: 80px;
      margin-top: -1px;
      cursor: pointer;

      i {
        color:#cccccc;
        font-size: 25px;
      }
    }

    .selected {
      border-color: #343a40 !important;
      background-color:#343a40 !important;
    }

    .box:hover {
      border-color: #343a40;
      transition: .2s;
      background-color:#343a40;
      
      i {
        color: gray;
      }
    }
    
  }

}

.btn-rt:hover {
  background-color: #343a40 !important;
  color: white !important;
  border-color: white;
}

.btn-rt {
  opacity: 0;
}

.fix-height:hover .btn-rt{
  opacity: 1;
  transition: .3s;
}

.page-link {
	color: $theme-color;
}

.page-item.active {
	.page-link {
		background-color: $theme-color;
		border-color: $theme-color;
	}

	.fa {
		color: $theme-color !important;
	}	
}

.synapse {
  color: #26b9ff;
  padding: 2px 5px;
  font-weight: bolder;
}

.synapse:hover {
  color: #00d9ff;
  text-decoration: none;
  transition: .2s;
}

.sanzFadeIn {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.mr-6 {
  margin-right: 4.2rem !important;
}

.profile-card {
	transition: .200s ease-in;

	.card-header {
    .btn-reverse {
      background-color: white;
			color: $theme-color;
    }

		.btn-reverse:hover {
			border: 1px solid white;
			background-color: $theme-color;
			color: white;
		}

		.btn-warning {
			margin-right: 1em;
		}

	}

	.card-body {
		padding: 0px 0px;

		table {
			margin-bottom: 0px;
		}
	}

	.profile-badge {
		font-size: 1em;
	}

	tr .first-col {
		padding-left: 2em;
	}
}

.profile-card:hover {
	box-shadow: 0px 2px 5px 0px #e7e7e7;
}

#password-card {
  
  .password-card {
    background-color: transparent;
    border: none;
  }
}

.password-card {
	transition: .200s ease-in;

	.text-muted {
		font-size: 70%;
	}

	.text-sm {
		font-size: 90%;
	}

	.btn-outline-secondary {
		border-color: #ced4da;
	}

	.btn-outline-secondary:hover {
		border-color: $theme-color;
	}
}

.login-form {
  label {
    padding-left: 2px;
  }
}

.registration-form {
  .form-group {
    &:not(:last-child) { 
      margin-bottom: 0px;
    }

    label {
      padding-left: 3px;
    }
  }
}

.progress {
  background-color: transparent;
}

#nprogress .bar {
    background: $gold !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px $gold, 0 0 5px $gold !important;
}

#nprogress .spinner-icon {
    border-top-color: $gold !important;
    border-left-color: $gold !important;
}


.text-white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

.text-xlg {
  font-size: 1.4rem;
}

.mt-6 {
    margin-top: 7.5rem !important;
}

.white-line {
  border-top: 1px solid #ccc;
}

.theme-line {
  border-top: 1px solid $theme-color;
}

footer {
  .footer-logo {
    height: 3em;
  }
}

.pointer {
  cursor: pointer;
}

.popover {
  position: absolute;
}

.light-icon {
  color: white;
  background-color: $darkgray;
  padding: 1px 3px;
  border-radius: 3px;
}

.input-group-text {
  background-color: white;
}