// Variables
@import "variables";
$font: Helvetica, sans-serif;

.linkActive {
    box-shadow:inset 0px -5px 0px 0px #fff;
}

.theme-searchbar {
    width: 100% !important;
    max-width: 600px;
    border: 2px solid white;

    input {
        border-radius: 0px;
    }

    input:focus {
        border-color: $theme-color-opac1;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $theme-color-opac2;
        outline: 0 none;
    }

    span {
        border-radius: 0px;
        color: white !important;
        background-color: $theme-color-darker;
    }
}

.carousel {
    border: 5px solid $theme-color-lighter;
}

.acc {
    // border: 1px solid $theme-color;
    margin-bottom: 10px;

    .card {
        border-radius: 0px;
        border: none;
        background-color: rgba(0,0,0,0);

        .card-header {
            padding: 8px 15px;
            border-radius: 0px;
            background-color: $theme-color;
            border-bottom: none;
            cursor: pointer;

            a {
                font-size: 14px;
                color: white;
            }
        }

        .card-header:hover {
            background-color: rgb(190, 255, 255);
            transition: .3s;

            a {
                color: $theme-color !important;
            }
        }

        .card-body {
            background-color: rgba(0,0,0,0);
            padding: 0px 0px;

            ul {
                padding-left: 0px;
                margin-bottom: 0px;

                li {
                    padding: 7px 10px;
                    padding-left: 20px;
                    list-style: none;
                    font-size: 12px;

                    a { color: black;  }

                    i { display: none; }
                }

                li:hover a{
                    color: $theme-color-darker;
                    text-decoration: none;
                }

                li:hover {
                    cursor: pointer;
                }

                li:hover i {
                    display: inline-block;
                }
                
            }
        }
    }
    
}

.section-title-1 {
    padding-left: 5px;
    font-weight: bolder;
}

.item {

    .card {
        border-radius: 0px;
        box-shadow: 0px 2px 5px 0px #e7e7e7;
        
        .image-container {
            height: 200px;
            cursor: pointer;

            img {
                max-height: 200px;
            }
        }

        .card-body {
            padding: 10px 10px;

            .card-title {
                font-size: .9rem;
                margin-bottom: 2px;
            }

            p {
                color: rgb(204, 71, 71);
                margin-bottom: 0px;
            }
        }

        .card-footer {
            padding: 5px 10px;
            background-color: white;
            border-top: 0px; 

        }
    }

    .card:hover {
        margin-top: -2px;
        box-shadow: 0px 5px 10px 0px #d8d8d8;
        transition: .3s;
    }
}

.input-group-text {
    background-color: $theme-color;
    color: white;
}

.auth {
    margin-top: 50px;

    .card {
        box-shadow: 0px 2px 5px 0px #e7e7e7;
        background-color: $darkgray;

        label,small {
            color: white;
        }

        small {
            a {
                color: $theme-color;
                text-decoration: none;
            }

            a:hover {
                color: $theme-color-hayag;
            }
        }

        .btn-primary {
            background-color: $theme-color-darker;
        }

        .btn-primary:hover {
            background-color: $theme-color-lighter;
        }

        .btn-link {
            color: $theme-color;
        }

        .btn-link:hover {
            text-decoration: none;
            color: $theme-color-hayag;
        }
    }
}

.about {
    .img-fluid {
        width: 100%;
    }

    .about-text {
        line-height: 1.6em;
        margin-top: 2em;
        text-align: justify;
    }

    .form-control {
        border-radius: 0px;
    }

    .btn-theme {
        border-radius: 0px;
    }
}

.register-button {
    background-color: $theme-color;
    color: white !important;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    border: 2px solid $theme-color;
    border-radius: 2em;
    transition: .5s;
}

.register-button:hover {
    background-color: transparent;
    color: white !important;
    border: 2px solid white;
    transition: .5s;
}

.code-section {
    .card {
        
        box-shadow: -1px 4px 30px 3px rgba(76,81,104,.2);

        .card-body {
            margin-top: -1px;

            pre {
                font-size: 1.1em;
            }
        }
    }
    
    .nav-item {
        .active {
            background-color: #2d2d2d !important;
            color: white !important;
        }
    }
}

.contact-us-section {
    input, textarea {
        color: white;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid white;
        border-radius: 0px;
    }

    input:focus, textarea:focus {
        color: $theme-color;
        border: 0;
        background: transparent;
        border-bottom: 2px solid $theme-color;
        transition: .5s;
        box-shadow: none;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: .7; /* Firefox */
      }
}

.navAnimate {
    background-color: $theme-color-dark !important;
    transition: ease-in .2s;
}

